{% extends "base.html.twig" %}
{% block title %}
    Bienvenue - {{parent()}}
{% endblock %}

{% block body %}


    {# CONNECTION PART #}
    <section class="py-3 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Séries TV et bien plus en illimité.</h1>
                <p class="lead text-muted">Où que vous soyez. Annulez à tout moment.</p>
                {% if app.user %}
                <p class="lead fst-italic">
                    Bienvenue sur votre compte <span class="text-danger">O'flix</span> {{app.user.firstname}}
                </p>
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-film"></i></div>
                <div class="divider-custom-line"></div>
                </div>
                {% else %}    
                <p>
                    <a href=" {{path('app_login')}} " class="btn btn-danger my-2">Se connecter</a>
                    <a href=" {{path('app_register')}} " class="btn btn-secondary my-2">Créer un compte</a>
                </p>
                {% endif %}
            </div>
        </div>
    </section>

    {# THUMBNAILS PART #}
    <div class="py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            {# SERIES CARDS  #}
                {% for show in shows %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <a href="{{path('show_single', {id: show.id})}}"><img class="img-fluid" src="{{ asset('img/')~ show.image }}" alt="" style="height: 225px;"></a>
                            <div class="card-body">
                                <p class="card-text"> {{ show.synopsis }} </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="{{path('show_single', {id: show.id})}}" class="btn btn-sm btn-outline-secondary">Voir</a>
                                        <a href="#" class="btn btn-sm btn-outline-secondary">Editer</a>
                                    </div>
                                    <small class="text-muted">
                                        {{show.nbLikes}}
                                        <a href="{{path('show_like', {id: show.id})}}">
                                            <img src="{{asset('img/like.svg')}}" alt="thumbs up" class="like">
                                        </a>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}


            </div>
        </div>
    </div>

</main>

{% endblock %}