{% extends 'backoffice/layout.html.twig' %}

{% block title %}Category Backoffice - {{parent()}} {% endblock %}

{% block content %}

        <section class="container text-center">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Catégories</h1>
                </div>
            </div>
        </section>


        <ul class="list-group list-group list-group-flush mx-auto" style="width: 600px;">
            {% for category in categories %}
                <li class="list-group-item " style="background-color: #212529; color: #fff"> <a href=" {{path('backoffice_category_show', {id: category.id} )}} " style="text-decoration: none; color: white;">{{category.name}} </a>
                
                {# DELETE #}
                <a style="text-decoration: none; color: white; float: right;" href="{{path('backoffice_category_delete',{ id: category.id})}}" class="card-link badge rounded-pill bg-danger mx-2">Suppr.</a>

                {# EDIT #}
                <a style="text-decoration: none; color: white; float: right" href="{{path('backoffice_category_update',{ id: category.id})}}" class="card-link badge rounded-pill bg-success">Edit</a>
                
                </li>
            {% endfor %}
        </ul>
        <br>
    </main>

{% endblock %}
