{% extends 'backoffice/layout.html.twig' %}

{% block title %}
    Backoffice - {{ parent() }}
{% endblock %}

{% block content %}

<div class="container-fluid" style="height: 900px;">
    
    <div class="row">
    
        <div class="col-md-12">
        {% if app.user %}
        <h2 class="fw-bold mb-4 text-muted" style="text-shadow: 8px 6px 10px rgba(0, 0, 0, 0.445);">Bienvenue dans le BackOffice d'O'flix</h2>
        {% endif %}
        </div>
        <div class="row ">
            <div class="col-md-3 mb-3"> 

                {% if like is not null %}
                {# CARD TV Shows#}
                    <div class="card text-white bg-custom mb-3 h-100" style=" box-shadow:8px 6px 10px rgba(0, 0, 0, 0.445);" >
                        <div class="card-header fw-bold" >Série TV la plus likée</div>
                            <div class="card-body">
                                <p class="card-text fw-bold">
                                {{like.title}}</p> 
                                <span class="fst-italic">Nombre de likes :</span> {{like.nbLikes}} <br>
                                <span class="fst-italic">Ajoutée le :</span> {{like.createdAt ? like.createdAt|date('d-m-Y') : ''}}
                                
                                
                            </div>
                    </div>
                {# CARD CLOSE #}

                {% endif %}
            </div>
            

             <div class="col-md-3 mb-3"> 
                {% if recent is not null %}
                {# MOST RECENT #}
                    <div class="card text-white bg-custom mb-3 h-100" style=" box-shadow:8px 6px 10px rgba(0, 0, 0, 0.445);" >
                        <div class="card-header fw-bold" >Série la plus récente : </div>
                            <div class="card-body">
                                <p class="card-text fw-bold">
                                {{recent.title}}</p> 
                                <span class="fst-italic">Série crée le :</span> {{recent.publishedAt ? recent.publishedAt|date('d-m-Y') : ''}}
                            </div>
                    </div>
                {# CARD CLOSE #}
                {% endif %}

            </div>

             <div class="col-md-3 mb-3"> 
                
                {% if user is not null %}
                {# CARD USERS #}
                    <div class="card text-white bg-custom mb-3 h-100" style=" box-shadow:8px 6px 10px rgba(0, 0, 0, 0.445);" >
                        <div class="card-header fw-bold" >Dernier utilisateur inscrit :</div>
                            <div class="card-body">
                                <p class="card-text">
                                {{user.firstname}} {{user.lastname}} <br>
                                {{user.email}}
                                <hr>
                                <span class="fst-italic">Inscrit le :</span> {{user.createdAt ? user.createdAt|date('d-m-Y') : ''}}  
                                </p>
                            </div>
                    </div>
                {# CARD CLOSE #}
                {% endif %}

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card text-white bg-dark">
                    <div class="card-header fs-4 fw-bold fst-italic">
                        Dernières entrées
                    </div>
                    <div class="card-body">                 
                        <div class="table-responsive">
                        <table class="table table-dark">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Titre</th>
                                    <th>Synopsis</th>
                                    <th>Image</th>
                                    <th>Slug</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for tv_show in shows %}
                                <tr>
                                    <td>{{ tv_show.id }}</td>
                                    <td>{{ tv_show.title }}</td>
                                    <td>{{ tv_show.synopsis }}</td>
                                    <td>{{ tv_show.image }}</td>
                                    <td>{{ tv_show.slug }}</td>
                                    <td>
                                        <a style="text-decoration: none; color: white;" href="{{ path('backoffice_tv_show_slug', {'slug': tv_show.slug}) }}" class="card-link badge rounded-pill bg-success">Détail</a>
                                        <a style="text-decoration: none; color: white; " href="{{ path('backoffice_tv_show_edit_slug', {'slug': tv_show.slug}) }}" class="card-link badge rounded-pill bg-danger mx-2">Edit</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>   
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock %}