{% extends "back.html.twig" %}

{% block body %}
{# Set the current route to put the links in active class #}
{% set currentRoute = app.request.attributes.get('_route') %}

<main>
    <section id="black" class="row">
        <!-- Menu de navigation -->
<div class="col-2 my-4 mx-auto">
            <div class="offcanvas bg-dark offcanvas-start sidebar-nav" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">

                <div class="offcanvas-body p-0">
                    <nav class="navbar-dark">
                        <ul class="navbar-nav">
                            <li>
                                <div class="text-muted small fw-bold text-uppercase px-3">
                                    backoffice
                                </div>
                            </li>
                            <li>
                                <a href="{{path('backoffice_home')}}" class="nav-link px-3 {{(currentRoute == 'backoffice_home')? 'active' }}">
                                <span class="me-2">
                                    <i class="bi bi-tools"></i>
                                </span>
                                <span>Administration</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{path('user_update', {id: app.user.id} )}}" class="nav-link px-3 {{(currentRoute == 'user_update')? 'active' }}">
                                <span class="me-2">
                                    <i class="fas fa-user-tie"></i>
                                </span>
                                <span>Profil Perso</span>
                                </a>
                            </li>
                            <li class="my-4">
                                <hr class="dropdown-divider">
                            </li> 
                            <li>
                                <div class="text-muted small fw-bold text-uppercase px-3">
                                    Interface
                                </div>
                            </li>


                        {# TVSHOWS #}
                            <li>
                              <a class="nav-link px-3 sidebar-link  {{(currentRoute is same as 'backoffice_tv_show_index' or currentRoute is same as 'backoffice_tv_show_new')? 'active' }}" data-bs-toggle="collapse" href="#collapseTvshows" role="button" aria-expanded="false" aria-controls="collapseTvshows">
                                <span class="me-2"> <i class="bi bi-film"></i> </span>
                                <span>TV Shows</span>
                                <span class="right-icon ms-auto"> 
                                    <i class="bi bi-chevron-down"></i>
                                </span>
                              </a>
                                <div class="collapse" id="collapseTvshows">
                                    <div>
                                       <ul class="navbar-nav ps-3">
                                            <li>
                                                <a href="{{path('backoffice_tv_show_index')}}" class="nav-link px-3">
                                                    <span class="me-2"> <i class="fas fa-photo-video"></i> </span>
                                                    <span>Liste</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{path('backoffice_tv_show_new')}}" class="nav-link px-3">
                                                    <span class="me-2"><i class="far fa-plus-square"></i> </span>
                                                    <span>Ajouter une série</span>
                                                </a>
                                            </li>
                                       </ul>
                                    </div>
                                </div>
                            </li>

                            {# CHARACTERS #}
                            <li>
                            <a class="nav-link px-3 sidebar-link {{(currentRoute is same as 'backoffice_character_home' or currentRoute is same as 'backoffice_character_add')? 'active' }}" data-bs-toggle="collapse" href="#collapseCharacters" role="button" aria-expanded="false" aria-controls="collapseCharacters">
                                <span class="me-2"><i class="fas fa-mask"></i> </span>
                                <span>Personnages</span>
                                <span class="right-icon ms-auto"> 
                                    <i class="bi bi-chevron-down"></i>
                                </span>
                            </a>
                                <div class="collapse" id="collapseCharacters">
                                    <div>
                                    <ul class="navbar-nav ps-3">
                                            <li>
                                                <a href="{{path('backoffice_character_home')}}" class="nav-link px-3">
                                                    <span class="me-2"> <i class="bi bi-person-lines-fill"></i> </span>
                                                    <span>Liste</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{path('backoffice_character_add')}}" class="nav-link px-3">
                                                    <span class="me-2"><i class="fas fa-user-astronaut"></i> </span>
                                                    <span>Ajouter un personnage</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>


                             {# CATEGORY #}
                            <li>
                            <a class="nav-link px-3 sidebar-link {{(currentRoute is same as 'backoffice_category_home' or currentRoute is same as 'backoffice_category_add')? 'active' }}" data-bs-toggle="collapse" href="#collapseCategories" role="button" aria-expanded="false" aria-controls="collapseCategories">
                                <span class="me-2"><i class="fas fa-theater-masks"></i> </span>
                                <span>Catégories</span>
                                <span class="right-icon ms-auto"> 
                                    <i class="bi bi-chevron-down"></i>
                                </span>
                            </a>
                                <div class="collapse" id="collapseCategories">
                                    <div>
                                    <ul class="navbar-nav ps-3">
                                            <li>
                                                <a href="{{path('backoffice_category_home')}}" class="nav-link px-3">
                                                    <span class="me-2"> <i class="fas fa-clipboard-list"></i> </span>
                                                    <span>Liste</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{path('backoffice_category_add')}}" class="nav-link px-3">
                                                    <span class="me-2"><i class="fas fa-puzzle-piece"></i> </span>
                                                    <span>Ajouter une catégorie</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                            {# DIVIDER FOR SUPER ADMIN SECTION #}
                             <li class="my-4">
                                <hr class="dropdown-divider">
                            </li> 
                            <li>
                                <div class="text-muted small fw-bold text-uppercase px-3">
                                    Super Admin Section
                                </div>


                                {# UTILISATEURS #}
                                <li>
                              <a class="nav-link px-3 sidebar-link {{(currentRoute is same as 'user_home' or currentRoute is same as 'user_add')? 'active' }}" data-bs-toggle="collapse" href="#collapseUsers" role="button" aria-expanded="false" aria-controls="collapseUsers">
                                <span class="me-2"><i class="fas fa-users"></i> </span>
                                <span>Utilisateurs</span>
                                <span class="right-icon ms-auto"> 
                                    <i class="bi bi-chevron-down"></i>
                                </span>
                              </a>
                                <div class="collapse" id="collapseUsers">
                                    <div>
                                       <ul class="navbar-nav ps-3">
                                            <li>
                                                <a href="{{path ('user_home') }}" class="nav-link px-3">
                                                    <span class="me-2"><i class="fas fa-user-friends"></i></span>
                                                    <span>Liste</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{path ('user_add') }}" class="nav-link px-3">
                                                    <span class="me-2"><i class="fas fa-user-edit"></i></span>
                                                    <span>Ajouter un utilisateur</span>
                                                </a>
                                            </li>
                                       </ul>
                                    </div>
                                </div>
                            </li>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
</div>
{# 31'38 #}
        <!-- Contenu principal -->
        <div>

            {% block content %}{% endblock %}

        </div>
    </section>
</main>
{% endblock %}


{% block footer %}

{% endblock %}