{% extends 'backoffice/layout.html.twig' %}

{% block title %}
    Modifier série - Backoffice - {{parent()}} 
{% endblock %}

{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Éditer une série télé</h1>
        </div>
    </div>
        <p>
            <a href=" {{path('backoffice_season_index', {id : tv_show.id})}} ">Liste des saisons</a>
            |
            <a href=" {{path('backoffice_season_add', {id: tv_show.id} )}} ">Ajouter une saison</a>
        </p>
</section>

    <div class="input-group-sm mb-3 mx-auto text-center" style="width: 600px;">
        {{ include('backoffice/tv_show/_form.html.twig', {'button_label': 'Update'}) }}


        {{ include('backoffice/tv_show/_delete_form.html.twig') }}

            <a class="btn btn-secondary mx-4 my-2" style="text-decoration: none; color: white;" href="{{ path('backoffice_tv_show_index') }}">Retour à la liste</a>
    </div>
</main>
{% endblock %}
