{% extends 'backoffice/layout.html.twig' %}

{% block title %}TvShows - Backoffice - {{parent()}}{% endblock %}

{% block content %}

 
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">TV Shows</h1>
                </div>
            </div>
        </section>

    <table class="table list-group-flush " style="color: white; float: left;">
        <thead>
            <tr>
                <th>#</th>
                <th>Titre</th>
                <th>Synopsis</th>
                <th>Image</th>
                <th>NbLikes</th>
                <th>Publication</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for tv_show in tv_shows %}
            <tr>
                <td>{{ tv_show.id }}</td>
                <td>{{ tv_show.title }}</td>
                <td>{{ tv_show.synopsis }}</td>
                <td>{{ tv_show.image }}</td>
                <td>{{ tv_show.nbLikes }}</td>
                <td>{{ tv_show.publishedAt ? tv_show.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a style="text-decoration: none; color: white;" href="{{ path('backoffice_tv_show_slug', {'slug': tv_show.slug}) }}" class="card-link badge rounded-pill bg-success">Détail</a>
                    <a style="text-decoration: none; color: white; " href="{{ path('backoffice_tv_show_edit_slug', {'slug': tv_show.slug}) }}" class="card-link badge rounded-pill bg-danger mx-2">Edit</a>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Pas de données trouvées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


</main>
{% endblock %}
