<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access Not Allowed</title>
    <link rel="stylesheet" href=" {{asset('css/bootstrap.css')}} ">
    <link rel="stylesheet" href=" {{asset('css/oflix.css')}} ">
</head>
<body style="background-image: url({{asset('img/403.png')}}); margin-top: 4rem; ">

{% include "partials/_navbar.html.twig" %}
<div class="err">
    <section style="padding-top: 60px;">
        <div id="error" class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center">
                    <div class="err_txt">
                    <h1 style="font-size: 162px;">403</h1>
                    <h2>You shall not pass!</h2>
                    <p class="fw-bold fst-italic">Vous n'avez pas l'accès autorisé </p>
                    </div>

                    <br>
                    <a href=" {{path('home')}} " class="btn btn-dark">Retour à l'accueil</a>
                </div>
            </div>
        </div>
    </section>
</div>


{% include "partials/_footer.html.twig" %}
<script src=" {{asset('js/bootstrap.js')}} " ></script>
</body>
</html>